/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
programmatic-types.graphql
_lighthouse_ide_helper.php

.idea/

_ide_helper_models.php

.phpstorm.meta.php

_ide_helper.php

public/media/

storage/media-library/
rr
.rr.yaml
*.key

lang/.DS_Store
*.DS_Store
Dockerfile
